@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&family=Oranienbaum&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Romanovsky";
  src: url(../fonts/romanovsky.woff2);
  font-weight: normal;
  font-style: normal;
}
* {
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.options {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
}

nav {
  padding: 2em;
  display: flex;
  justify-content: center;
  background-color: rgb(77, 74, 153);
}

.sidebar-container {
  display: flex;
  gap: 70px;
}

.header-block {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.header {
  width: 100%;
}

.block-logo {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 20px;
}

.block-item, .footer-list, .footer-container, .for-flex-direction {
  display: flex;
  align-items: center;
}

.section1, .section1-block {
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 4em;
  color: #fff;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.75vw, 0.75rem);
  background-color: rgb(77, 74, 153);
}
.footer-list {
  flex: 1;
  gap: 200px;
  width: 100%;
  max-width: 1100px;
}
.footer-item {
  display: grid;
  gap: 20px;
  -moz-column-gap: 160px;
       column-gap: 160px;
  grid-template-columns: repeat(3, 1fr);
}
.footer-container {
  margin-top: 60px;
  width: 100%;
  max-width: 1100px;
}

.vector2 {
  display: none;
}

.vector1 {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 50px;
}

.container-of-form {
  display: flex;
  flex-direction: column;
}

.text-of-email {
  display: flex;
  color: #fff;
}

.input-email {
  outline: none;
  border: none;
  width: 100%;
  max-width: 200px;
  padding: 10px 10px 10px 15px;
}
.input-email::-moz-placeholder {
  color: rgb(77, 74, 153);
}
.input-email::placeholder {
  color: rgb(77, 74, 153);
}

.text-of-input {
  display: flex;
}

.logo-block {
  display: flex;
}

.form-email {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
}

.input-container {
  display: flex;
  padding-top: 10px;
}

.submit {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  border: none;
  outline: none;
}

.for-flex-direction {
  padding-top: 10px;
}

.footer-items {
  text-decoration: none;
  color: #fff;
}

.send-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

label, .checkbox1, .open_sidebar, .close_sidebar, .options1 {
  display: none;
}

@media (min-width: 480px) and (max-width: 1024px) {
  nav {
    padding: 1.3em;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  label,
  .checkbox2,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options {
    display: none;
  }
  .options1 {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(77, 74, 153);
    border-radius: 30px;
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    transition: 0.2s linear;
  }
  .options1:hover {
    padding: 12px;
    font-weight: 500;
    margin: 0 0 0 -12px;
    background-color: #fff;
    border-radius: 30px;
  }
  .sidebar-container {
    gap: 30px;
    background-color: rgb(187, 176, 206);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    padding: 30px 35px;
    width: 280px;
    height: 100%;
    transition: 0.75s ease;
  }
  #checkbox:checked ~ #overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background: rgba(0, 0, 0, 0.4274509804);
  }
  #checkbox:checked ~ .sidebar-container {
    left: 0;
  }
  .checkbox1,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options2 {
    padding-top: 5px;
  }
  .options1 {
    font-weight: 400;
  }
  .checkbox2 {
    margin-right: auto;
  }
  .checkbox1 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    padding: 1.3em;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  label, .checkbox2,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options {
    display: none;
  }
  .options1 {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(77, 74, 153);
    border-radius: 30px;
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    transition: 0.2s linear;
  }
  .options1:hover {
    padding: 12px;
    margin: 0 0 0 -12px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 30px;
  }
  .sidebar-container {
    gap: 30px;
    background-color: rgb(187, 176, 206);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    padding: 30px 35px;
    width: 250px;
    height: 100%;
    transition: 0.75s ease;
  }
  #checkbox:checked ~ #overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background: rgba(0, 0, 0, 0.4274509804);
  }
  #checkbox:checked ~ .sidebar-container {
    left: 0;
  }
  .checkbox1,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options2 {
    padding-top: 5px;
  }
  .options1 {
    font-weight: 400;
  }
  .checkbox2 {
    margin-right: auto;
  }
  .checkbox1 {
    display: none;
  }
}
.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.section1 {
  padding: 0 2.5rem 0 2.5rem;
  flex-direction: column;
  align-items: center;
}
.section1-block {
  gap: 20px;
  row-gap: 50px;
}

.head6 {
  font-family: "Romanovsky";
  text-align: center;
  color: rgb(77, 74, 153);
  font-weight: 500;
  font-size: clamp(2.75rem, 2.75vw, 2.75rem);
}

.head4 {
  display: none;
}

.image {
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 400px;
}

.section1-img {
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 440px;
}

.head3 {
  font-family: "Romanovsky";
  margin-bottom: 80px;
  text-align: center;
  color: rgb(77, 74, 153);
  font-weight: 500;
  font-size: clamp(1.35rem, 1.35vw, 1.35rem);
  padding-top: 10px;
  line-height: 140%;
  width: 100%;
}

.form {
  text-align: center;
  width: 100%;
}

.choose {
  text-align: center;
  font-family: "Romanovsky";
  cursor: pointer;
  padding: 16px;
  width: 100%;
  max-width: 315px;
  letter-spacing: 1.5px;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  border: none;
  outline: none;
  margin-bottom: 180px;
  margin-top: 90px;
  background-color: rgb(77, 74, 153);
  font-weight: 400;
  color: #fff;
  transition: 0.5s ease;
}
.choose:hover {
  background-color: rgb(47, 44, 112);
  color: rgb(255, 255, 255);
}

.head2 {
  font-family: "Romanovsky";
  text-align: center;
  color: rgb(77, 74, 153);
  font-weight: 500;
  font-size: clamp(2.75rem, 2.75vw, 2.75rem);
}

.head-of-image {
  font-family: "Romanovsky";
  font-weight: 500;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  padding-top: 40px;
  line-height: 140%;
  color: rgb(77, 74, 153);
}

.section1-list {
  width: 100%;
  max-width: 220px;
  text-align: center;
}

.head5 {
  display: none;
}

.body-text {
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
  line-height: 140%;
  padding-top: 8px;
  color: rgb(77, 74, 153);
  font-weight: 300;
}

.section2 {
  padding: 0 2.5rem 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border-h4, .border1-h4 {
  background-color: rgb(187, 176, 206);
  color: #fff;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-family: "Romanovsky";
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
}

.border-img1 {
  width: 100%;
  max-width: 940px;
  height: 100%;
  max-height: 300px;
}

.border-img1-for-mobile {
  display: none;
}

.border-img2 {
  width: 100%;
  max-width: 540px;
  height: 100%;
  max-height: 300px;
}

.border-img3 {
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 300px;
}

.border1-h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.border-h4 {
  margin-bottom: 20px;
}

.block-border1 {
  display: flex;
  gap: 20px;
}

.border-img {
  padding-top: 20px;
}

.section3 {
  padding: 0 2.5rem 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 180px;
}
.section3_body_text {
  color: rgb(77, 74, 153);
  text-decoration: underline;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: end;
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
}

.section3-body-text {
  margin-left: auto;
  padding-bottom: 10px;
  color: rgb(77, 74, 153);
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
}

.section3-delivery {
  width: 100%;
  max-width: 460px;
}

.image-block {
  margin: auto;
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.head2-head4 {
  cursor: pointer;
  font-family: "Romanovsky";
  line-height: 140%;
  font-weight: 500;
  color: rgb(77, 74, 153);
  font-size: clamp(1rem, 1vw, 1rem);
}

.block-item {
  gap: 16px;
  margin-left: 30px;
}

.block-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}

.maps {
  margin-left: 30px;
  width: 100%;
  max-width: 460px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.big-container {
  background-image: url("./images/DSC_8900-3-5.webp");
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 630px;
  display: grid;
  place-items: center;
  z-index: 10;
  margin-bottom: 180px;
}

.big-container1 {
  display: none;
}

.big-heading, .medium-heading {
  font-family: "Romanovsky";
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.some-text {
  text-align: center;
  font-size: clamp(0.95rem, 0.95vw, 0.95rem);
  color: #fff;
  padding-top: 20px;
  line-height: 140%;
  font-weight: 300;
}

.big-container-img1 {
  display: none;
}

.section1-img-mobile {
  display: none;
}

.image-for-mobile {
  display: none;
}

.big-heading {
  font-size: clamp(3.2rem, 3.2vw, 3.2rem);
}

.medium-heading {
  padding-top: 16px;
  padding-bottom: 30px;
  line-height: 140%;
  font-size: clamp(1.35rem, 1.35vw, 1.35rem);
}

.headings-block {
  width: 100%;
  max-width: 700px;
}

.choose1 {
  font-family: "Romanovsky";
  cursor: pointer;
  padding: 16px;
  width: 100%;
  letter-spacing: 1.5px;
  max-width: 315px;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  border: none;
  outline: none;
  background-color: rgb(77, 74, 153);
  font-weight: 400;
  color: #fff;
  transition: 0.5s ease;
}
.choose1:hover {
  background-color: rgb(47, 44, 112);
  color: #fff;
}

.choose2, .some-text2 {
  display: none;
}

.block-image {
  width: 100%;
  margin-top: 180px;
  margin-bottom: 180px;
}

.block-image-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-big-image {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
  gap: 10px;
  aspect-ratio: 32/14.5;
}

.img1 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.block-small-image {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/14.5;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .footer-list {
    gap: 130px;
  }
  .footer-item {
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
}
@media (min-width: 320px) and (max-width: 1000px) {
  .footer-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    gap: 50px;
  }
  .footer-item {
    display: grid;
    grid-template-columns: repeat(1, minmax(80px, 1fr));
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .big-container {
    display: none;
  }
  .section1 {
    width: 100%;
    max-width: 750px;
  }
  .big-container1 {
    background-image: url("../images/DSC_8900-3-4.jpg");
    display: block;
    background-position: center 75%;
    width: 100%;
    background-size: cover;
    height: 450px;
    display: grid;
    place-items: center;
    padding: 1.5em;
    z-index: 10;
    margin-bottom: 180px;
  }
  .big-heading1,
  .medium-heading1 {
    font-family: "Romanovsky";
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
  .headings-block1 {
    padding: 1.5em 1em;
    background-color: rgba(0, 0, 0, 0.15);
    border: 0.5px solid rgb(237, 234, 244);
    width: 100%;
    max-width: 300px;
    backdrop-filter: blur(1em);
    z-index: 9;
  }
  .of-img {
    max-width: 350px;
  }
  .form,
  .some-text1 {
    display: grid;
    place-items: center;
  }
  .big-heading1 {
    font-size: clamp(1.6rem, 1.6vw, 1.6rem);
    line-height: 1.25;
  }
  .border-h4, .border1-h4 {
    width: 100%;
    text-align: center;
  }
  .section1-block {
    display: grid;
    place-items: center;
    width: 100%;
    row-gap: 40px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section1-img,
  .image {
    display: none;
  }
  .section1-img-mobile,
  .image-for-mobile {
    display: block;
  }
  .border-img1-for-mobile {
    display: block;
    width: 100%;
  }
  .border-img2,
  .border-img1,
  .border-img3 {
    display: none;
  }
  .block-border1 {
    display: grid;
    grid-template-columns: repeat(1, minmax(220px, 1fr));
  }
  .head-of-image {
    font-size: clamp(1.25rem, 1.25vw, 1.15rem);
  }
  .body-text {
    font-size: clamp(0.875rem, 0.875vw, 0.875rem);
  }
  .image-for-mobile,
  .section1-img-mobile, .section1-list {
    width: 100%;
    max-width: 325px;
  }
  .head2 {
    font-size: clamp(2rem, 2vw, 2rem);
  }
  .of-img-h4 {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  .head5 {
    display: none;
  }
  .head3 {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  .head6 {
    font-size: clamp(2.2rem, 2.2vw, 2.2rem);
  }
  .head4 {
    display: block;
    font-family: "Romanovsky";
    text-align: center;
    color: rgb(77, 74, 153);
    font-weight: 500;
    padding-top: 10px;
    line-height: 1.2;
    width: 100%;
    font-size: clamp(1.65rem, 1.65vw, 1.65em);
  }
  .image-block {
    display: flex;
    flex-wrap: wrap;
  }
  .maps {
    padding-top: 50px;
  }
  .block-item,
  .maps {
    margin-left: 0;
  }
  .head2-head4 {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  iframe {
    width: 100%;
  }
  .section3-delivery {
    width: 100%;
    max-width: 500px;
  }
  .image-block {
    width: 100%;
    max-width: 500px;
  }
  .block-container {
    padding-top: 40px;
    width: 100%;
    max-width: 500px;
  }
  .footer {
    padding: 4em 3em;
  }
  .section3-body-text {
    margin-left: 0;
    margin: auto;
    font-size: clamp(0.85rem, 0.85vw, 0.85rem);
  }
  .medium-heading1 {
    padding-top: 16px;
    line-height: 140%;
    font-size: clamp(1rem, 1vw, 1rem);
  }
  .big-container-img1 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .choose {
    max-width: 295px;
    letter-spacing: 1.5px;
    font-size: clamp(1.15rem, 1.15vw, 1.15rem);
    padding: 14px 10px;
  }
  .container-img {
    gap: 40px;
  }
  .some-text1 {
    text-align: center;
    font-size: clamp(0.65rem, 0.65vw, 0.65rem);
    color: #fff;
    padding-top: 20px;
    line-height: 1.3;
    font-weight: 300;
  }
  .choose2 {
    display: block;
    font-family: "Romanovsky";
    cursor: pointer;
    letter-spacing: 1.5px;
    padding: 14px 30px;
    width: 100%;
    font-size: clamp(1.15rem, 1.15vw, 1.15em);
    border: none;
    outline: none;
    margin-top: 50px;
    background-color: rgb(77, 74, 153);
    font-weight: 400;
    color: #fff;
    transition: 0.5s ease;
  }
  .choose2:hover {
    background-color: rgb(47, 44, 112);
    color: rgb(255, 255, 255);
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .section1-block {
    max-width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .big-container {
    display: none;
  }
  .big-container1 {
    background-image: url("../images/DSC_8900-3-4.jpg");
    display: block;
    background-position: center 80%;
    width: 100%;
    background-size: cover;
    height: 420px;
    display: grid;
    place-items: center;
    padding: 1em;
    z-index: 10;
  }
  .big-heading1,
  .medium-heading1 {
    font-family: "Romanovsky";
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
  .block-container {
    width: 100%;
  }
  .headings-block1 {
    padding: 1.45em 1em;
    background-color: rgba(0, 0, 0, 0.15);
    border: 0.5px solid rgb(237, 234, 244);
    width: 100%;
    height: 100%;
    max-width: 265px;
    backdrop-filter: blur(1em);
    z-index: 9;
  }
  .big-heading1 {
    font-size: clamp(1.48rem, 1.48vw, 1.48rem);
    line-height: 1.25;
  }
  .border-h4,
  .border1-h4 {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  .block-image-container {
    gap: 5px;
  }
  .head-of-image {
    font-size: 1rem;
  }
  .body-text {
    font-size: clamp(0.75rem, 0.75vw, 0.75rem);
  }
  .head2 {
    font-size: clamp(1.6rem, 1.6vw, 1.6rem);
  }
  .of-img-h4 {
    font-size: clamp(0.9rem, 0.9vw, 0.9rem);
  }
  .head3 {
    font-size: clamp(0.8rem, 0.8vw, 0.8rem);
  }
  .head6 {
    font-size: clamp(1.8rem, 1.8vw, 1.8rem);
  }
  .section3-delivery, .block-container {
    width: 100%;
  }
  .image-block {
    display: flex;
    flex-wrap: wrap;
  }
  .head2-head4 {
    font-size: clamp(0.8rem, 0.8vw, 0.8rem);
  }
  .section3-body-text {
    margin-left: 0;
    margin: auto;
    font-size: clamp(0.8rem, 0.8vw, 0.8rem);
  }
  .medium-heading1 {
    padding-top: 16px;
    line-height: 140%;
    font-size: clamp(0.9rem, 0.9vw, 0.9rem);
  }
  .image-for-mobile,
  .section1-img-mobile,
  .section1-list {
    width: 100%;
    max-width: 220px;
  }
  .choose {
    width: 100%;
    max-width: 265px;
    font-size: clamp(1.05rem, 1.05vw, 1.05rem);
    padding: 13px 10px;
  }
  .vector1 {
    max-width: 120px;
  }
  .some-text1 {
    text-align: center;
    font-size: clamp(0.6rem, 0.6vw, 0.6rem);
    color: #fff;
    padding-top: 20px;
    line-height: 1.3;
    font-weight: 300;
  }
  .choose2 {
    display: block;
    font-family: "Romanovsky";
    cursor: pointer;
    letter-spacing: 1.5px;
    padding: 13px 10px;
    width: 100%;
    font-size: clamp(1rem, 1vw, 1em);
    border: none;
    outline: none;
    margin-top: 50px;
    background-color: rgb(77, 74, 153);
    font-weight: 400;
    color: #fff;
    transition: 0.5s ease;
  }
  .choose2:hover {
    background-color: rgb(47, 44, 112);
    color: rgb(255, 255, 255);
  }
}/*# sourceMappingURL=style.css.map */